body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
}

.container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#progressBox {
    margin: 20px 0;
    background-color: #e0e0e0;
    border-radius: 5px;
}

#progressBar {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

#stats {
    margin-top: 20px;
}

h3 {
    margin: 10px 0;
}
